body{
  width: 100vw;
  height: 100vh;
  background-color: #00171F;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-cont{
  border: 3px #00A8E8 solid;
  height: 60%;
  width: 50%;
  border-radius: 2rem;;
}

form{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

button{
  padding: .5rem;
  width: 10%;
  border: 2px solid #00A8E8;
  border-radius: .2rem;
  background: none;
  color: #00A8E8;
  transition: all 1s linear;
}
button:hover{
 transform: scale(1.1);
 border: 2px dashed #FAA916;
 color: #FAA916;
 background-color: rgba(255, 255, 255, 0.197);
}

input{
  background: none;
  border: none;
  border-bottom: solid #00A8E8;
  text-align: center;
  color: #FAA916;
}
input::placeholder{
  color: #00A8E8;
}
input:hover::placeholder{
  color: #FAA916;
}
.yellow{
  color: #FAA916
}
.blue{
  color: #00A8E8
}
.green{
  color: #16DB65
}
.white{
  color: white
}
span{
  transition: 1s linear all;
}