body{
  width: 100vw;
  height: 100vh;
  background-color: #00171F;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont{
  border: 3px #00A8E8 solid;
  height: 60%;
  width: 50%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

button{
  padding: .5rem;
  width: 10%;
  border: 2px solid #00A8E8;
  border-radius: .2rem;
  background: none;
  color: #00A8E8;
  transition: all 1s linear;
}
button:hover{
 transform: scale(1.1);
 border: 2px dashed #FAA916;
 color: #FAA916;
 background-color: rgba(255, 255, 255, 0.197);
}

input{
  background: none;
  border: none;
  border-bottom: solid #00A8E8;
  text-align: center;
  color: #FAA916;
}
input::placeholder{
  color: #00A8E8;
}
input:hover::placeholder{
  color: #FAA916;
}
.yellow{
  color: #FAA916
}
.blue{
  color: #00A8E8
}
.green{
  color: #16DB65
}
.white{
  color: white
}
.trasparent{
  color: transparent;
}
span{
  transition: .5s linear all;
  font-size: 2rem;
  
}
#result{
  padding: 1rem;
  background-image: radial-gradient(circle, #dc0073, #d32c98, #c049b9, #a461d4, #7b75e9, #9875e9, #b275e8, #ca75e6, #ff64b9, #ff6c7f, #ff8e45, #f5b700);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}
.no-show{
  display: none;
}